.advantageCardContainer {
  width: 1130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

@media screen and (max-width: 996px) {
  .advantageCardContainer {
    width: 100vw;
    justify-content: center;
  }
}