.welcome{
  height: 240px;
  width: 550px;
  border-radius: 36px;  
  background-color: #fff;
  padding: 26px 29px 45px 47px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}
.address{
 text-align: right;
  font-family: Inter;
  font-size: 20px;
  letter-spacing: 0em;
  }
  .name{
    font-family: Inter;
font-size: 32px;
text-align: left;
color: #000000;
margin: 0 0 16px 0;
  }
  .require{
    font-family: Inter;
    font-size: 20px;
    text-align: left;
    color: #999999;
    margin: 0 0 33px 0;
  }
  .detail{
    font-family: Inter;
font-size: 20px;
letter-spacing: 0em;
text-align: left;
  }

