.thanks{
  width: 100%;
  background: linear-gradient(207.95deg, #399BFF -12.8%, #62E7D0 112.78%, #B1EC44 112.8%);
.thanksmain{
  background:#FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .qrcode{
    width: 148px;
    margin-bottom: 20px;
  }
  .thanksinstruction{
    width: 80%;
    font-size: 20px;
    margin-top: 10px;
    margin: 0;
  }
}
}
@media screen and (max-width: 996px) {
.thanksmain{
  img{
    width: 80px;
  }
  .thanksinstruction{
    line-height: 20px!important;
    margin-top: 0!important;
  }
}
}
