
.cptd{
  width: 100%;
  background: linear-gradient(207.95deg, #399BFF -12.8%, #62E7D0 112.78%, #B1EC44 112.8%);
  .featurelist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .feature{
      width: 33.3%;
      padding: 0 12px;
      margin-bottom: 30px;
    }
    .featureCon{
      border-radius: 25px;
      background-color: #ffffff;
      padding:30px;
      width: 100%;
      img{
        display: block;
        height: 40px;
        margin-bottom: 1em;
      }
      h2{
        //font-size: 26px;
        //line-height: 36px;
        //height: 60px;
      }
      p{
        line-height: 30px;
        height: 120px;
        margin-bottom: 0;
        color: #717C87;
      }
    }
    //*{
    //  padding:0 20px;
    //}
    //img{
    //  margin: 20px 0;
    //}
    //p{
    //  margin: 20px 0;
    //}
  }
  h1{
    padding-left: 12px;
    //font-size: 50px;
    //line-height: 60px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1200px) {
  .cptd{
    h1{
      padding-left: 0;
    }
  }
  .feature{
    width: 100% !important;
    padding: 0!important;
    img{
      height: 40px;
    }
    h2{
      height: auto!important;
    }
    p{
      height: auto!important;
    }
  }
}

