
.cptd{
  width: 100%;
  background: linear-gradient(207.95deg, #399BFF -12.8%, #62E7D0 112.78%, #B1EC44 112.8%);
  .featurelist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .feature{
      border-radius: 25px;
      background-color: #ffffff;
      background-clip: content-box;
      width: 33%;
      padding: 10px 10px;
      text-align: left;
    }
    *{
      padding:0 20px;
    }
    img{
      margin: 20px 0;
    }
    p{
      margin: 20px 0;
    }
  }
  h1{
    padding-left: 10px;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    color: #ffffff;
  }
}



@media screen and (max-width: 996px) {
  .feature{
    border-radius: 25px;
    background-color: #ffffff;
    background-clip: content-box;
    width: 50% !important;
    padding: 0 10px;
  }
  h1{
    line-height: 48px!important;
  }
  h2{
    line-height: 30px!important;
  }
  p{
    line-height: 20px!important;
  }
}
@media screen and (max-width: 450px) {
  .feature{
    border-radius: 25px;
    background-color: #ffffff;
    background-clip: content-box;
    width: 100% !important;
    padding: 0 10px;
  }
  h1{
    line-height: 40px!important;
  }
  p{
    line-height: 20px!important;
  }
}