.descriptionModel {
  width: 1130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 180px;
}

.introBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  position: relative;

  .barTitle {
    font-weight: 500;
    font-size: 36px;
    line-height: 160.69%;
    color: var(--font-color-one);
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
}