.FirstContainer {
  min-height: 100vh;
}

.SecondContainer {
  width: 100%;
  background-color: var(--background-color);
}

.ThirdContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color);
}