.disclaimerContainer {
  padding: 48px 0 96px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);

  .container {
    position: relative;
    border-radius: 20px;
    margin: 48px 200px;
    padding: 48px 24px;
    height: 60vh;
    overflow: auto;
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow-one);
  }

  .disclaimerConfirm {
    z-index: 1;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.isMobile {
  background-color: var(--background-color);
  z-index: 1;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .isMobileContent {
    padding: 2vh 8vw;
    text-align: center;
    font-size: 24px;
    border-radius: 20px;
    box-shadow: var(--box-shadow-one);
  }

  .logo {
    width: 40vmin;
    height: 40vmin;
    margin-bottom: 20vh;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  }
}
.instructionbox{
  width: 100%;
  max-width: 2560px;
  height: 854px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  p:nth-child(1) {
    margin: 128px 0 48px 0 ;
    font-family: Inter;
font-size: 64px;
font-weight: 300;
line-height: 72px;
letter-spacing: -0.025em;
text-align: center;
a{
font-family: Inter;
font-size: 64px;
font-weight: 400;
line-height: 72px;
letter-spacing: -0.025em;
text-align: center;
color:  linear-gradient(207.95deg, #399BFF -12.8%, #62E7D0 112.78%, #B1EC44 112.8%)
}
  }
  p:nth-child(2),p:nth-child(3),p:nth-child(4){
    width: 1010px;
    font-family: Inter;
font-size: 24px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.15em;
text-align: left;
  }
  p:nth-child(4){
    margin: 0;
  }
}
.contact{
  width: 1488px;
  height: 320px;
  background: url("@site/static/img/product/welcome.png") ;
  border: 1px solid #C4B5FD;
border-radius: 16px;
display: flex;
flex-direction: column;
align-items: center;
margin: 50px 0 80px 0;
  P{
    font-family: Inter;
font-size: 64px;
font-weight: 700;
line-height: 60px;
height: 96px;
letter-spacing: -0.025em;
text-align: center;
color: #FFFFFF;
margin:64px 0 32px 0 ;
  }
  .contactbutton{
    height: 64px;
width: 216px;
border-radius: 8px;
padding: 16px 24px 16px 24px;
font-family: Inter;
font-size: 32px;
font-weight: 500;
line-height: 24px;
text-align: center;
color: #399BFF;

  }
}
.bck3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background: url("@site/static/img/product/bck3.png") no-repeat;
  background-position: center;
  z-index: -1;

}
.third{

  display: flex;
  flex-direction: column;
  align-items: center;
  >p{
    font-family: Inter;
font-size: 48px;
font-weight: 300;
line-height: 60px;
letter-spacing: -0.025em;
text-align: center;

    margin:0;
  }
  >img{
    margin: 21px 0 47px 0;
  }


}