.form{
  margin-top: 74px;
  img{
    margin-right: 10px;
  }
  label{
    display: block;
    height: 40px;
    font-family: Inter;
    font-size: 32px;
    line-height: 20px;
    text-align: left;    
    }
    .github{
      margin-left: 11px;
    }
    input{
      width: 960px;
      height: 80px;
      font-size: 30px;
    }

    button{
      width: 960px;
      height: 80px;
      font-family: Inter;
font-size: 40px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
background: #2580DE;
border-radius: 20px;
    }

}
// :global{
//   .ant-radio::before {
//     color: aqua;
//     background-image: url("../square.png") ;
//   }
//   .ant-radio-inner {
//     color: red;
//     background-image: url("../square.png") ;
//   }
// }