.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    box-sizing: border-box;
    position: absolute;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 26px;
    font-size: 12px;
    font-weight: 400;
    color: var(--font-white);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
  }
  .green {
    background-color: var(--logo-green);
    color: var(--font-dark);
    &:hover {
      height: 55px;
      line-height: 55px;
      font-size: 22px;
    }
  }
  .greenBorder {
    background-color: var(--background-white);
    color: var(--font-black);
    border: 5px solid var(--logo-green);
    line-height: 40px;
    &:hover {
      background-color: var(--logo-green);
    }
  }
  .yellow {
    background-color: var(--btn-yellow);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      height: 35px;
      width: 35px;
      display: inline-block;
      background-image: url("@site/static/img/icon-download.png");
      background-size: cover;
      margin-right: 15px;
    }
    &:hover {
      height: 55px;
      line-height: 55px;
      font-size: 22px;
    }
  }
  .blue {
    background: #399bff;
    border-radius: 5px;
    &:hover {
      background: #0080ff
    }
  }
}
@media screen and (max-width: 996px) {
  .wrapper {
    a {
      text-align: center;
      width: 70vw;
      max-width: 400px;
      min-width: 300px;
    }
    .greenBorder {
      background-color: var(--logo-green);
      color: var(--font-white);
      border: 5px solid var(--logo-green);
      &:hover {
        background-color: var(--logo-green);
      }
    }
    .yellow,
    .green {
      &:hover {
        height: 50px;
        line-height: 50px;
        font-size: 20px;
      }
    }
    .yellow {
      .icon {
        position: absolute;
        left: 20px;
      }
    }
  }
}
