.words {
  margin-top: 24px;
  text-align: center;
  .title {
    font-weight: 300;
    font-size: 36px;
  }
  .describe {
    font-weight: 400;
    font-size: 16px;
  }
}
.logoContainer {
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 48px;
}
.container {
  height: 100vh;
  position: relative;
  top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotateX(180deg);
}
@media screen and (max-width: 996px) {
  .container {
    padding: 10vh 0;
    min-height: 500px;
    height: 90vh;
    position: static;
    justify-content: space-between;
  }
  .logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
      height: 20vh;
      min-height: 120px;
      margin: 0 0 50px 0px;
    }
    .right {
      text-align: center;
    }
  }
  .btnContainer {
    position: relative;
    top: -80px;
    .wrapper {
      height: 150px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
}
