.cardOneContainer {
  padding: 0 60px;
  height: 250px;
  background: #ffffff;
  box-shadow: 10px 10px 50px rgba(61, 114, 177, 0.1);
  border-radius: 10px;
}
.cardOneContent {
  width: 280px;
  min-height: 100px;
}
.cardOneTitle {
  font-weight: 500;
  font-size: 28px;
  color: #2490ff;
}
.cardOneDescript {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: #515151;
}

.cardtwoContainer {
  width: 300px;
  padding: 50px 50px 0 50px;
  min-height: 340px;
  background: #ffffff;
  box-shadow: 10px 10px 50px rgba(123, 168, 255, 0.25);
  border-radius: 10px;
  margin-bottom: 120px;
}
.cardTwoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardTowIcon {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardTwoTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;
  margin: 0px;
  text-align: center;
  color: #399bff;
}
.cardTwoDescript {
  font-weight: 300;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  color: #000000;
  margin: 0px;
}
