.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .message{
    width: 100%;
    max-width: 2560px;
    background: linear-gradient(207.95deg, #399BFF -12.8%, #62E7D0 112.78%, #B1EC44 112.8%);
    padding: 100px;
    .messagebck{
      position: absolute;
      top:113px;
      left:24px;
      width: 32%;
      max-width: 618px;
      z-index: 0;
      
    }
    .messagedetail{
      display: flex;
      flex-direction: row;
      justify-content: right;
      width: 100%;
      height: 1576px;
      background-color: #FFFFFF;
      padding-right: 50px;
     
    }
  }