.box {
  width: 100%;
  background: linear-gradient(207.95deg, #399BFF -12.8%, #62E7D0 112.78%, #B1EC44 112.8%);
}

.message {


  .messagedetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #FFFFFF;



    .form {
      width: 70%;
      padding:0 50px 0 60px;
      flex-shrink: 0;
    }

  }
}
.imgBackground{
  position: sticky;
  top: 80px;
  width: 30%;
  height: 50%;
  margin-top: -20px;
  margin-left: -20px;
}
.group{
  margin-bottom: 80px;
}
@media screen and (max-width: 996px) {

  .imgBackground{
    display: none;
  }
  .form {
    width: 100% !important;
    padding: 0 30px!important;
  }
}
