.stepThree {
  padding: 48px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsContainer,
.guideContainer {
  transform: translateX(230px);
  height: 374px;
  transition: all 1s;
}

.buttonsContainer {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.guideContainer {
  z-index: 1;
  opacity: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #399BFF;
  border-radius: 5px;
  padding: 12px 24px 24px 24px;
  margin-left: 48px;

  .guideTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
  }

  .enterGameBtn {
    margin-top: 30px;
  }
}

.enterShifuCloud {
  position: absolute;
  right: 80px;
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .shifuCloud {
    background-color: #399BFF;
    width: 107px;
    height: 107px;
    border-radius: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shifuCloudContent {
    font-weight: 400;
    font-size: 14px;
    line-height: 160.69%;
    text-align: center;
  }
}

.activeLine {
  position: absolute;
  display: flex;
  align-items: center;
  top: 53px;
  height: 10px;
  width: 150px;
  transform: translateX(-100%);

  .spot {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: #399BFF;
    animation-name: spotActive;
    animation-duration: 2.6s;
    animation-iteration-count: infinite;
  }

  @keyframes spotActive {
    0% {
      width: 5px;
      height: 5px;
    }

    15% {
      width: 10px;
      height: 10px;
    }

    25% {
      width: 5px;
      height: 5px;
    }

    100% {
      width: 5px;
      height: 5px;
    }
  }
}


.active {

  .buttonsContainer,
  .guideContainer {
    transform: translateX(0px);
    opacity: 100%;
  }
}