.devBox{
  //background: rgba(57, 155, 255, 0.05);
}
.lists{
  display: flex;
  flex-wrap: wrap;
  .listBox{
    width: 50%;
    padding: 0 12px;
    margin-bottom: 30px;
  }
  .list{
    width: 100%;
    padding: 16px;
    background: #399BFF0D;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    height: 290px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .img{
      width: 20%;
      min-width: 90px;
      padding: 0 15px;
    }
    .msglist{
      width: 80%;
    }
    h2{
      background: linear-gradient(207.95deg, #399BFF -12.8%, #62E7D0 112.78%, #B1EC44 112.8%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size:24px;
      line-height: 40px;
    }
    p{
      margin-bottom: 0;
      line-height: 1.5;
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 1100px) {
  .listBox{
    width:100% !important;
    p{
      height: auto!important;
    }
  }
}
