.disclaimerContainer {
  padding: 48px 0 96px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);

  .container {
    position: relative;
    border-radius: 20px;
    margin: 48px 200px;
    padding: 48px 24px;
    height: 60vh;
    overflow: auto;
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow-one);
  }

  .disclaimerConfirm {
    z-index: 1;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.isMobile {
  background-color: var(--background-color);
  z-index: 1;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .isMobileContent {
    padding: 2vh 8vw;
    text-align: center;
    font-size: 24px;
    border-radius: 20px;
    box-shadow: var(--box-shadow-one);
  }

  .logo {
    width: 40vmin;
    height: 40vmin;
    margin-bottom: 20vh;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  }

}
.title{
  font-family: Inter;
  font-size: 64px;
  // font-style: italic;
  font-weight: 400;
  letter-spacing: -0.025em;
  text-align: center;
  color: #2580DE;
  margin: 120px 0;
}
.planbody{
  justify-content: center;
}
.planbody2{
  align-items: center;
}
.bck{
  position: absolute;
  top: 60px;
  left: 0;
  // width: 0;
  // height: 0;
  // border-style: solid;
  // border-width: 350px 50vw 350px 50vw;
  // border-color: #2580DE transparent  transparent #2580DE ;
  width: 100%;
  height: 700px;
  // background: linear-gradient(207.95deg, #88C3FF -12.8%, #A2EADD 49.13%, #C5EA81 112.8%);
  // opacity: 0.2;
  background-image: url("./back.png") ;
}
.bck2{
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 1016px;
  background-image: url("./bck.png") ;
}
.instruction2{
  width: 100%;
  height: 1016px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .instruction2left{
    display: flex;
    height: 100%;

    flex-direction: column;
  }
}
.title2{
  font-family: Inter;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.025em;
  text-align: left;
  width: 100%; 
  margin-bottom:16px ; 
}
.title3{
  width: 100%; 
  font-family: Inter;
font-size: 24px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
margin-bottom:48px ; 
}
.button2{
  width: 144px;
  height: 56px;
  font-size: 24px;
}
.cptd{
  width: 100%;
  height: 630px;
  padding: 96px 174px;
  background: linear-gradient(207.95deg, #399BFF -12.8%, #62E7D0 112.78%, #B1EC44 112.8%);

  .cptdtitle{
   font-family: Inter;
font-size: 48px;
font-weight: 300;
line-height: 60px;
letter-spacing: -0.025em;
text-align: left;
  }
.featurelist{
  width: 100%;
  height: 287px;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
}
.service{
  width: 100%;
  padding: 96px 174px;
  .servicetitle{
    font-family: Inter;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: -0.025em;
    text-align: left; 
    margin-bottom: 48px;   
  }
.serviceinstruction{
  font-family: Inter;
font-size: 32px;
font-weight: 300;
line-height: 72px;
letter-spacing: -0.025em;
text-align: left;
margin-bottom: 48px;
}
.button3{
  width: 200px;
  height: 56px;
font-size: 24px;
}
}
