.box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.planbody{
  text-align: center;
  max-width: 1920px;
  justify-content: center;
}
.planbody2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title2{
  font-family: Inter;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.025em;
  text-align: left;
  width: 506px; 
  margin-bottom:16px ; 
}
.title3{
  width: 506px; 
  font-family: Inter;
font-size: 24px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
margin-bottom:48px ; 
}
.button2{
  width: 184px;
  height: 56px;
  font-size: 24px;
}


