.box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.first{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.disclaimerContainer {
  padding: 48px 0 96px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);

  .container {
    position: relative;
    border-radius: 20px;
    margin: 48px 200px;
    padding: 48px 24px;
    height: 60vh;
    overflow: auto;
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow-one);
  }

  .disclaimerConfirm {
    z-index: 1;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.isMobile {
  background-color: var(--background-color);
  z-index: 1;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .isMobileContent {
    padding: 2vh 8vw;
    text-align: center;
    font-size: 24px;
    border-radius: 20px;
    box-shadow: var(--box-shadow-one);
  }

  .logo {
    width: 40vmin;
    height: 40vmin;
    margin-bottom: 20vh;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  }

}
.title{
  font-family: Inter;
  font-size: 64px;
  max-width: 1500px;
  // font-style: italic;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #2580DE;
  margin: 120px auto;
  text-align: center;
  
}

.planbody{
  text-align: center;
  max-width: 1920px;
  justify-content: center;
}
.planbody2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bck{
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 700px;
  background: url("./back.png") no-repeat center;
  z-index: -1;
}
.bck2{
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 1016px;
  background: url("./bck.png") no-repeat center;
  z-index: -1;
}
.instruction2{
  width: 100%;
  max-width: 1920px;
  height: 1016px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .instruction2left{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.title2{
  font-family: Inter;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.025em;
  text-align: left;
  width: 506px; 
  margin-bottom:16px ; 
}
.title3{
  width: 506px; 
  font-family: Inter;
font-size: 24px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
margin-bottom:48px ; 
}
.button2{
  width: 184px;
  height: 56px;
  font-size: 24px;
}
.cptd{
  width: 100%;
  max-width: 2560px;
  height: 630px;
  padding: 96px 174px;
  background: linear-gradient(207.95deg, #399BFF -12.8%, #62E7D0 112.78%, #B1EC44 112.8%);

  .cptdtitle{
   font-family: Inter;
font-size: 48px;
font-weight: 300;
line-height: 60px;
letter-spacing: -0.025em;
text-align: left;
  }
.featurelist{
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
}
.service{
  width: 100%;
  max-width: 2560px;
  padding: 96px 174px;
  .servicetitle{
    font-family: Inter;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: -0.025em;
    text-align: left; 
    margin-bottom: 48px;   
  }
.serviceinstruction{
  font-family: Inter;
font-size: 32px;
font-weight: 300;
line-height: 72px;
letter-spacing: -0.025em;
text-align: left;
margin-bottom: 48px;
}
.button3{
  width: 200px;
  height: 56px;
font-size: 24px;
}
}
.third{

  display: flex;
  flex-direction: column;
  align-items: center;
  >p{
    font-family: Inter;
font-size: 48px;
font-weight: 300;
line-height: 60px;
letter-spacing: -0.025em;
text-align: center;

    margin:0;
  }
  >img{
    margin: 21px 0 47px 0;
  }
.instructionbox{
  width: 100%;
  max-width: 2560px;
  height: 854px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  p:nth-child(1) {
    margin: 128px 0 48px 0 ;
    font-family: Inter;
font-size: 64px;
font-weight: 300;
line-height: 72px;
letter-spacing: -0.025em;
text-align: center;
a{
font-family: Inter;
font-size: 64px;
font-weight: 400;
line-height: 72px;
letter-spacing: -0.025em;
text-align: center;
color:  linear-gradient(207.95deg, #399BFF -12.8%, #62E7D0 112.78%, #B1EC44 112.8%)
}
  }
  p:nth-child(2),p:nth-child(3),p:nth-child(4){
    width: 1010px;
    font-family: Inter;
font-size: 24px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.15em;
text-align: left;
  }
  p:nth-child(4){
    margin: 0;
  }
}
.welcome{

width: 100%;
max-width: 2560px;
height: 640px;
background: #399BFF0D;
display: flex;
flex-direction: column;
align-items: center;
.welcometitle{
  margin: 90px 0 100px 0 ;
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.025em;
  text-align: center;  
}
.welcomesquare{
  position: relative;
  top: 168px;
  left: 40px;
  width: 310px;
  height: 48px;
  background-image: url("./square.png") ;
}
.welcomelist{
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
}
}
.bck3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background: url("./bck3.png") no-repeat;
  background-position: center;
  z-index: -1;

}
.contact{
  width: 1488px;
  height: 320px;
  background: url("./welcome.png") ;
  border: 1px solid #C4B5FD;
border-radius: 16px;
display: flex;
flex-direction: column;
align-items: center;
margin: 50px 0 80px 0;
  P{
    font-family: Inter;
font-size: 64px;
font-weight: 700;
line-height: 60px;
height: 96px;
letter-spacing: -0.025em;
text-align: center;
color: #FFFFFF;
margin:64px 0 32px 0 ;
  }
  .contactbutton{
    height: 64px;
width: 216px;
border-radius: 8px;
padding: 16px 24px 16px 24px;
font-family: Inter;
font-size: 32px;
font-weight: 500;
line-height: 24px;
text-align: center;
color: #399BFF;

  }
}
.message{
  width: 100%;
  max-width: 2560px;
  background: linear-gradient(207.95deg, #399BFF -12.8%, #62E7D0 112.78%, #B1EC44 112.8%);
  padding: 100px;
  .messagebck{
    position: absolute;
    top:113px;
    left:24px;
    width: 32%;
    max-width: 618px;
    z-index: 0;
    
  }
  .messagedetail{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    height: 1576px;
    background-color: #FFFFFF;
    padding-right: 50px;
   
  }
}
.thanks{
  width: 100%;
  background: linear-gradient(207.95deg, #399BFF -12.8%, #62E7D0 112.78%, #B1EC44 112.8%);
  padding: 100px;
  font-family: Inter;
  font-weight: 300;
.thanksmain{
  width: 100%;
  background:#FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 172px 0;
  .thankstitle{
   font-size: 64px;
   line-height: 126px;
   height: 126px;
   margin: 0;
  }
  .thanksinstruction{
    height: 63px;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;   
    color: #000000;
    margin: 0;
  }
  .thanksbutton{
    height: 64px;
font-size: 24px;
line-height: 64px;
  }
}
}