.form {
  label {
    font-size: 18px;
    text-align: left;
    display: flex;
    margin-bottom: 16px;
    line-height: 30px;

    img {
      margin-right: 12px;
      margin-top: 6px;
      width: 18px;
      height: 18px;
    }
  }

  .github {
    margin-left: 12px;
    margin-top: 0!important;
    margin-right: 0!important;
    margin-bottom: 4px;
  }

  input {
    width: 100%;
    //height: 80px;
    //font-size: 30px;
  }

  button {
    width: 100%;
    height: 46px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    //line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    background: #2580DE;
    border-radius: 10px;
  }
}



@media screen and (max-width: 996px) {

}
