.bck{
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 700px;
  background: url("@site/static/img/product/back.png") no-repeat center;
  z-index: -1;
}.title{
  font-family: Inter;
  font-size: 64px;
  max-width: 1500px;
  // font-style: italic;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #2580DE;
  margin: 120px auto;
  text-align: center;
}.first{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}