.background{
  width: 100%;
  background: url("@site/static/img/product/back.png") no-repeat top;
  background-size: 100% 50%;
}
.first{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title{
  text-align: center;
}
