.background{
  width: 100%;
  background: url("@site/static/img/product/back.png") no-repeat top;
  background-size: 100% 50%;
}
.first{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title{
  text-align: center;
  font-size: 50px;
  line-height: 60px;
}

@media screen and (max-width: 996px) {
  .title{
    font-size: 40px !important;
    line-height: 48px !important;
  }

}

@media screen and (max-width: 450px) {
  .title{
    font-size: 1.5em !important;
    line-height: 30px !important;
  }

}