.box{
   margin-left: 10px;
  h1{
    text-align: left;
    font-size: 50px;
    line-height: 60px;
  }
  .button{
    margin: 20px 0;
  }
  p{
    line-height: 36px;
  }
}
@media screen and (max-width: 996px) {
  h1{
    line-height: 48px!important;
  }
  p{
    line-height: 28px!important;
  }
}

@media screen and (max-width: 450px) {
  h1{
    line-height: 40px!important;
  }
  p{
    line-height: 20px!important;
  }
}