/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* To use a new color set, check https://docusaurus.io/docs/styling-layout */
:root {
  --ifm-color-primary: #399bff;
  --ifm-color-primary-dark: #1a8bff;
  --ifm-color-primary-darker: #0a83ff;
  --ifm-color-primary-darkest: #006cda;
  --ifm-color-primary-light: #58abff;
  --ifm-color-primary-lighter: #68b3ff;
  --ifm-color-primary-lightest: #97caff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --logo-green: #9bc848;
  --font-color-one: #000;
  --font-color-two: #515151;
  --font-color-three: #ffffff;
  --sponsor-color-invert: invert(0%);
  --btn-yellow: #e4b248;
  --background-color: #fbfdff;
  --card-background-color: #ffffff;
  --first-part-footer: linear-gradient(
    0deg,
    rgba(251, 253, 255, 1) 0%,
    rgba(251, 253, 255, 0.7) 50%,
    rgba(251, 253, 255, 0) 100%
  );
  --card-color: #fff;
  --box-shadow-one: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  --ifm-code-background: #f5f5f5;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #2580de;
  --ifm-color-primary-dark: #1f73ca;
  --ifm-color-primary-darker: #1d6dbf;
  --ifm-color-primary-darkest: #185a9d;
  --ifm-color-primary-light: #3b8de1;
  --ifm-color-primary-lighter: #4794e3;
  --ifm-color-primary-lightest: #68a7e8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --font-color-one: #fff;
  --font-color-two: #fff;
  --font-color-three: #000;
  --sponsor-color-invert: invert(100%);
  --background-color: #34353a;
  --card-background-color: #313136;
  --card-color: #0b1929;
  --first-part-footer: linear-gradient(
    0deg,
    rgba(52, 53, 58, 1) 0%,
    rgba(52, 53, 58, 0.7) 50%,
    rgba(52, 53, 58, 0) 100%
  );
  --box-shadow-one: 0 0 10px 3px rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
}
::-webkit-scrollbar-track-piece {
}

/* Don't use the default <code> style. */
code {
  background-color: var(--ifm-code-background);
  border: .0rem solid rgba(0, 0, 0, .1); /* remove the border*/
  border-radius: var(--ifm-code-border-radius);
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
  padding:var(--ifm-code-padding-vertical) var(--ifm-code-padding-horizontal)
}

.button, code {
  vertical-align:baseline
}
/*Navigation bar*/
.dropdown__link{
  height:30px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.header-link:hover {
  opacity: 0.6;
}

.header-link:before {
  content: '';
  width: 28px;
  height: 28px;
  display: flex;
  background-size: 100%!important;
}
.header-github-link:before{
  background: url("/static/img/header/github.png") no-repeat;
}
.header-discord-link:before{
  background: url("/static/img/header/discord.png") no-repeat;
}
.header-twitter-link:before{
  background: url("/static/img/header/twitter.png") no-repeat;
}
html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}
.header-search input{
  background-color: #fff;
  border: 1px solid #D9D9D9;
}
.header-btn{
  padding: 8px 24px;
  background: #2580DE;
  border-radius: 8px;
  color: #fff;
}
.header-btn:hover{
  color: #fff;
}
.markdown>p{
  line-height: 30px;
}
.sidebarItemLink_node_modules-\@docusaurus-theme-classic-lib-theme-BlogSidebar-Desktop-styles-module{
  line-height: 26px;
}
@media screen and (max-width: 996px) {
  .footer{
    padding-top: 10px;
  }
  .footer__copyright{
    line-height: 30px;
  }
}

