.demoFooterContainer {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 96px;
}

.returnBack {
  cursor: pointer;

  .returnContent {
    margin-left: 24px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #399BFF;
  }
}