.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    width: 840px;
    height: 300px;
  }
  .title {
    font-weight: 700;
    font-size: 20px;
    color: #399bff;
    margin-left: 24px;
  }
  .rotation {
    overflow-x: hidden;
  }
  .content {
    width: 1800px;
    display: flex;
    flex-direction: column;
    animation: rotation 7s infinite linear;
  }
  @keyframes rotation {
    from {
      transform:translateX(0px);
    }
  
    to {
      transform:translateX(-892px);
    }
  }
  .Sponsor {
    width: 210px;
    height: 75px;
    background: #f0f6fb;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-bottom: 13px;
  }
}
