.newsBox{
  //margin-top: 80px;
  width: 100%;
  background:rgba(57, 155, 255, 0.05);
}
.news{
  display: flex;
  flex-wrap: wrap;
  .new{
    width: 33.3%;
    padding: 0 10px 30px;
    text-align: center;
    img{
      width: 80px;
      height: 80px;
      display: block;
      margin: 0 auto 16px;
    }
    p{
      margin: 20px 0;
      line-height: 30px;
      //height: 60px;
    }
    .message{
      color:#000;
    }
    >a{
      span{
        margin-left: 6px;
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 996px) {
  .newsBox{
    //margin-top: 40px;
  }
  .news{
    .new {
      width: 100%;
      p{
        height: auto!important;
      }
    }
  }
}